{% extends "booking/base.html" %}
{% block content %}
        <div class="media content-section">

            <div>
                <h1>Dear Family,</h1>
                <p>Escape to our cozy and charming family summerhouse on the breathtaking Swedish west coast. Nestled amongst picturesque coastal scenery, our summerhouse has been the backdrop to countless cherished memories for generations of our family. Featuring spacious and comfortable rooms, a fully equipped kitchen, and a beautiful outdoor deck for relaxing and soaking up the sun, our summerhouse provides the perfect setting for an unforgettable family vacation. Whether you're looking to explore the surrounding nature, enjoy a day at the beach, or simply spend quality time with your loved ones, our summerhouse is the ultimate destination for creating cherished memories that will last a lifetime.
            
                <img src="https://res.cloudinary.com/due4uu8h3/image/upload/ar_16:9,bo_3px_solid_rgb:000,c_fill,e_sharpen,g_auto,w_600/v1681658202/media/cuycxevs8mdbctv4sn3h.jpg" alt="West coast">
        </div>
{% endblock content %}